.add-option-error{
    color: $off-white;
    margin:$m-size 0 0 0 ;
    font-style: italic;
    padding: $m-size;
}
.add-option{
    display: flex;
    padding: $m-size;
    flex-direction: column;
}

.add-option__input{
    background: $dark-blue;
    border:none;
    border-bottom:.3rem solid darken($dark-blue,10%);
    flex-grow: 1;
    color:$off-white;
    padding:$s-size;
    margin:0 0 $s-size 0 ;
}

@media (min-width:$desktop-breakpoint){
    .add-option{
      flex-direction: row;
    }
    .add-option__input{
        margin:0 $s-size 0 0;
    }
}